#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column; /* Cambia a columna para una mejor adaptación en pantallas pequeñas */
  align-items: center; /* Alinea el contenido al centro */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.daily-image {
  max-width: 100%; /* Ajusta la imagen al 100% del contenedor */
  height: auto;
}

.explanation {
  font-size: 14px; /* Aumenta un poco el tamaño para mejorar la lectura en pantallas pequeñas */
  text-align: justify;
  padding: 1rem; /* Agrega algo de espacio alrededor del texto */
}

.daily-image-container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna para adaptarse mejor en móvil */
  justify-content: center;
  align-items: center;
}

.back-next button {
  margin: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  #root {
    max-width: 90%;
  }

  .daily-image-container {
    width: 100%; /* Ajusta el contenedor al ancho completo */
  }

  .explanation {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  #root {
    max-width: 100%;
    padding: 1rem;
  }

  .daily-image-container {
    width: 100%;
  }

}